* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-color: #1b1b1b;
	overflow-x: hidden;
}
button {
	font-size: 1.1rem;
	font-weight: bold;
	cursor: pointer;
	padding: 1rem 2rem;
	border: 3px solid #1feca4;
	background: transparent;
	color: white;
	transition: all 0.5s ease;
	border-radius: 1rem;
}
button:hover {
	background-color: #1feca4;
}
a {
	font-size: 1.1rem;
}
h2 {
	font-weight: lighter;
	font-size: 3rem;
}
h3 {
	color: white;
}
h4 {
	font-size: 1.5rem;
}
p {
	padding: 3rem 0;
	color: #cccc;
	font-size: 1.2rem;
	line-height: 150%;
}
span {
	font-weight: bold;
	color: cyan;
}
